.container {
    width: 1000px;
    height: 1000px;

    display: grid;
    grid-template-columns: 22% 22% 10% 22% 22%;
    grid-template-rows: 22% 15% 8% 15% 22%;
}

.item1 {
    background-color: white;
        grid-column: 3/6;
        grid-row: 1/3
}

.item2 {
    background-color: white;
    grid-column: 3/6;
    grid-row: 1/3;
}